@charset "utf-8";

* { margin: 0; padding: 0;}

body {
    font-size: 13px;
    font-family: NanumGothic, sans-serif;
}


/* ----- LOGIN FORM ----- */

#login {
    max-width: 280px;
    margin: 80px auto;
}

#form-login {
    padding: 10px 15px 0 15px;
    margin-bottom: -10px;   /* form-group의 margin-bottom 때문에 */
}

#form-login .col-remember, #form-login .col-btn {
    padding-left: 1px;
    padding-right: 0;
}
#form-login .col-remember span { color: #666; font-weight: normal; font-size: 0.9em;}
#form-login .col-btn button { float: right; }


/* ----- JOIN FORM ----- */

#join, #user-info-update {
    max-width: 340px;
    margin: 80px auto;
}

#form-join, #form-user-info {
    padding: 10px 15px 0 15px;
    margin-bottom: -10px;
}

.join-btn { float:right; }


/* ----- USER LIST (ADMIN) ----- */
#user-list {
    max-width: 640px;
    margin: 20px auto;
}

#user-list table {
    font-size:13px;
}